<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="Server" type="Application" factoryName="Application">
    <option name="MAIN_CLASS_NAME" value="nju.androidchat.server.ChatServer" />
    <module name="server" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>